@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .font-nunito {
        font-family: "Nunito", sans-serif;
    }

    .nav-button.active {
        @apply bg-sky-100 text-sky-600 font-semibold;
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

@layer base {
    html,
    body,
    #mount {
        @apply h-full w-full;
    }

    #root {
        @apply h-full w-full flex flex-col items-center;
    }

    body {
        @apply bg-gray-900 text-white font-nunito;
    }
}
